
.container{
  height: 50px;
  z-index: 999999;
  position: absolute;
  top: 0;
  transform: translateY(-110%);
  transition: 0.5s;
  //border: 1.5px solid #0d7534;
}

.show{
  transform: translateY(200%);
  transition: 1s;
}

.body{
  position: relative;
  background-color: #e4e4ed;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon{
    margin: 15px;
    height: 20px;
    width: 20px;
  }

  .closeBtn{
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
  }
}

.ERROR{
  background-color: #fff2f0;
  border: 1.5px solid #ffccc7;
}

.SUCCESS{
  background-color: #F6FFED;
  border: 1.5px solid #B7EB8F;
}

.INFO{
  background-color: #E6F4FF;
  border: 1.5px solid #91CAFF;
}

.WARNING{
  background-color: #FFFBE6;
  border: 1.5px solid #FFE58F;
}
