.modal{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  transition: .3s all;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modalActive {
    transition: .3s all;
    opacity: 1;
    pointer-events: all;
}

.modalHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  h4{
    //font-style: italic;
    margin-left: 30px;
  }

  span{
    margin-right: 15px;
    padding: 10px;
  }

  span:hover{
    cursor: pointer;
    //background-color: #;
  }
}

.divider{
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.modalBody{
  //margin: 100px;
  width: 30vw;
  max-height: 80%;
  min-width: 300px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #0d0c29;
  z-index: 1000;
  color: #0d0c29;
  overflow-y: auto;

  .modalContent{
    overflow-y: auto;
    padding: 20px;
  }

  @media (max-height: 1100px) and (max-width: 900px){
    //overflow-y: auto;
    //height: 80%;
    //height: 80%;
    width: 70%;
  }

  @media (max-height: 700px) and (max-height: 501px) {
    //overflow-y: auto;
    max-height: 70%;
  }

  @media (max-height: 500px) {
    max-height: 90%;
  }
}

.displayNone{
  display: none;
}