@import "../../App.module.scss";

.wrapper{

  h2{
    margin-bottom: 15px;
  }

  h2, h3{
    text-align: center;
  }
}

.buttonsContainer{
  //@include align-center;
  width: 100%;
  margin-top: 15px;

  Button{
    margin-top: 15px;
    width: 100%;
  }
}