
textarea{
  width: 100%;
  resize: none;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1.5px solid black;
  font-size: 16px;
  height: 150px;
  padding: 5px;
  margin: 8px 0;
}

textarea:focus{
  outline: none !important;
}

textarea:focus::placeholder{
  font-style: italic;
}